
body {
  background: #fff;
  font-family: garamond;
  font-size: 1.2em;
  
}

#container {
  min-width: 1000px;
}


header {
  visibility: hidden;
  position: absolute;
}

#banner {
  background: #A11515;
  height: 550px;
  color: #540000;
  position: relative;
  top: -30px;
  width: 101%;
  
}

#banner h1, #banner h2 {
  text-align: center;
  position: relative;
  top: 27%;
  font-size: 33px;
}

div {
  text-align: center;
}

#container div a {
  font-size: 1em;
  padding: 1em;
  margin: 1em;
  display: inline-block;
  margin-top: 170px;
  border: 2px solid white;
  color: #fff;
}


a:link {
  color: #810000;
  text-decoration: none;
}

a:visited {
  color: #5E5757;
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}

nav {
  background: #A11515;
  height: 40px;
  white-space:nowrap;
  width: 101%;
}

nav a {
  position: relative;
  font-size: .8em;;
  top: 35%;
  left: 25%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 0%;
  
}

nav a:visited {
  color: #fff;
}

#briefBackground {
  text-align: center;
  margin-left: 12em;
  margin-right: 12em;
  margin-bottom: 4em;
  margin-top: 2.8em;
  line-height: 2em;
  border-bottom: solid;
}

#briefBackground p {
  margin-bottom: 3em;
}

#projects {
  position: relative;
  width: 620px;
  margin: auto;
  clear: both;

}

#projects article {
  background: black;
  width: 300px;
  height: 300px;
  color: #fff;
  
}

#project1 {
  position: absolute;
}

#project2 {
  position: absolute;
  left: 320px;
}

#project3 {
  position: absolute;
  left: 320px;
  top: 375px;
  border-top: solid;
}

#project4 {
  position: absolute;
  top: 377px;
}

#blogC, #blogT {
  position: relative;
  top: 735px;
  border-top: solid;
  width: 355px;
}

#blogC {
  
  left: 10%;
  float: left;
}

#blogT {
  right: 10%;
  float: right;

}

#blogC article, #blogT article {
  text-align: left;
}

#blogC h2, #blogT h2 {
  margin-bottom: 45px;
}

#links {
  height: 350px;
  white-space: nowrap;
  background: #998E8E;
  position: relative;
  top: 850px;
  width: 101%;
  clear: both;
}


#links h2 {
  visibility: hidden;
  position: absolute;
}

#social, #current-project, #contact {
  width: 15%;
  height: 200px;
  margin-top: 30px;
}

#social, #current-project{
  float: left;
}

#social {
  margin-left: 5%;
}

#current-project{
  margin-left: 25%;
}

#contact {
  margin-left: 80%;
  padding-top: 30px;
}

#social p a {
  margin-left: 2px;
  margin-top: 2px;
  border: double;
  color: #fff;
}


footer {
  position: relative;
  top: 800px;
  margin-left: 1%;
  text-align: left;
}