body {
  margin: 0px;
  background: #fff;
  font-family: Georgia;
}

h1 {
  color:transparent;
  position: absolute;
}

a:link {
  color: #1D3D45;
  text-decoration: none;
}

a:visited {
  color: #2F9299;
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}

nav {
  background: #B5FFDA;
  height: 60px;
  white-space:nowrap;
  width: 101%;
}

nav a {
  position: relative;
  top: 25%;
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 0%;
}

#last-link {
  padding-right: 2px;
}

#logo {
  margin-right: 20px;
  margin-left: 20px;
}

#portfolio {
  position: relative;
  width: 620px;
  margin: auto;
}

#portfolio article {
  background: grey;
  width: 300px;
  height: 300px;
}

#sam1 {
  position: absolute;
}

#sam2 {
  position: absolute;
  left: 320px;
}

#sam3 {
  position: absolute;
  left: 320px;
  top: 365px;
}

#sam4 {
  position: absolute;
  top: 365px;
}

#blog {
  position: relative;
  top: 670px;
  left: 2.5%;
}

#blog article, #blog-index article {
  margin-bottom: 10px;
  height: 100px;
}

#blog h2, #links h2, #blog article, #blog-index h2, #links-blog-index h2, #blog-index article, #footer-blog-index {
  padding-left: 10px;
  padding-top: 3px;
}

#links, #links-blog-index {
  height: 400px;
  white-space: nowrap;
  background: #B2655B;
}

#links {
  position: relative;
  top: 700px;
  width: 101%;
}

#links h2, #links-blog-index h2 {
  color: transparent;
  position: absolute;
}

#social, #current-project, #contact {
  position: absolute;
  top: 10%;
}

#current-project {
  left: 40%;
}

#contact {
  right: 5%;
}

#social {
  left: 5%;
}

#links-blog-index {
  position: relative;
}

footer {
  position: relative;
  top: 700px;
  left: 1%;
}

#featured-blog {
  height: 300px;
  background: grey;
  width: 101%;
}

#featured-blog h2, p {
  margin-top: 0px;
  margin-left: 2.5%;
  color: black;
}


#featured-blog a {
  color: black;
}

#footer-blog-index {
  position: static;
}

code {
  width: 200px;
}